<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <html xmlns:th="http://www.thymeleaf.org">
    <title>Restaurant Chefs - Welcome to Our Restaurant</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #333;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to Our Restaurant</h1>
</header>
<main>
    <h2>Choose a chef:</h2>
    <form th:action="@{/dish}" th:method="POST">
        <!-- Display radio buttons for each chef,
             the value should be the chef id
             and the displayed text should be:
             Name: <firstName> <lastName>, Bio: <bio> -->
        <th:block th:each="chef : ${chefs}">
            <label>
                <input type="radio" name="chefId" th:value="${chef.getId}">
                Name: <span th:text="${chef.getFirstName} + ' ' +${chef.getLastName}"></span>
                Bio: <span th:text="${chef.getBio}"></span>
                <br>
            </label>
        </th:block>
        <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>